.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: rgba(91, 192, 199, 0.58);
  margin: 50px;
  border-radius: 20px;
}
.cardContainer {
  display: block;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: auto;
  height: auto;
  border-radius: 2px;
}

.header {
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.header h2 {
  color: blue;
  word-wrap: break-word;
  width: 250px;
}

.inicio {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createAct {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.createAct:hover {
  background-color: #5182eb;
  box-shadow: 0px 15px 20px rgba(76, 34, 242, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.createAct:active {
  transform: translateY(-1px);
}

.countries {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #fff;
}

.buttonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  background-color: rgba(255, 255, 255, 0.838);
  border-radius: 1.25em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  -webkit-box-shadow: 3.4px 2.5px 4.9px rgb(253, 251, 251),
    8.6px 6.3px 12.4px rgba(245, 238, 238, 0.842),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.countrySelected {
  list-style: none;
}
.countrySelectedContainer {
  display: flex;
  justify-content: space-between;
}
