/* .all {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: auto; */
  /* padding: 10px 20px; */
  margin: 50px 50px 50px 50px;
}

.cardContainer {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
}

.header {
  padding: 20px;
  text-align: center;
}

.header h2 {
  color: blue;
  word-wrap: break-word;
  width: 250px;
}

.header img {
  border-radius: 20%;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
  margin: 20px 30px;
  width: "150px";
  height: "100px";
}
